$color: red;
$base-menu-background: #001529;
$base-menu-width: 260px;
$base-tabber-height: 50px;
$base-menu-logo-height: 50px;
$base-logo-title-fontSize: 20px;
$base-tabbar-height:50px;
$base-menu-min-width: 50px;